/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  background: #222;
  color: #EEE;
  font-family: trade-gothic-next, sans-serif;
  font-size: 22px;
  line-height: 26px;
  padding: 39px 13px;
}

h1,h2 {
  font-family: adelle, serif;
}
h1 {
  font-size: 33px;
  line-height: 39px;
}
h1 b {
  font-weight: bold;
}
h1 small {
  display: block;
  font-size: 22px;
  line-height: 26px;
}
h2 {
  color: #999;
  padding-bottom: 6.5px;
}
p {
  padding-bottom: 13px;
  max-width: 660px;
}
ul {
  list-style-type: square;
  margin-left: 22px;
}

a {
  text-decoration: none;
  color: #3AA;
}

#about,
#links {
  padding-top: 26px;
}
